body {
    font-family: 'Roboto', sans-serif;
    background-color:#F7ECDE ;
}

.input-group-text {
    background-color: #FC4F4F;
}

.card-deck {
    margin: 5px;
}

.card {
    display:inline-block;
    margin: 6px;
}

.card-body {
    background-color:#FBF8F1;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px  rgba(0, 0, 0, 0.2);
}

#bloqueCobro {
    background-color: #FC4F4F;
    color: white;
    padding: 10px;
    font-size:large;
}

#botonVaciarCarrito {
    margin-left: 430px;
}

#checkMedioPago {
    margin-left: 5px;
    display: none;
}

#botonGenerarOrden {
    margin-left: 5px;
    display: none;
}

#mensajeCheckout {
    margin: 5px;
}

#headerCliente {
	width: 100%;
    height: 45px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: #FFBC80;
    color: white;   
}

#displayCliente {
    display: inline;
    font-size: 35px
}

#nombreCliente {
    display: inline;
    font-size: 35px
}

#montoACobrar {
    display: inline;
}

#totalACobrar {
    display: inline;
    margin-left: 80px;
}